PORT=5001
MONGO_URI=mongodb+srv://<db_user>:<db_password>@<cluster-name>.mongodb.net/chatify?retryWrites=true&w=majority&appName=<cluster-name>
NODE_ENV=development
JWT_SECRET=replace_with_long_random_secret
CLIENT_URL=http://localhost:5173

RESEND_API_KEY=your_resend_api_key
EMAIL_FROM=your_verified_sender@example.com
EMAIL_FROM_NAME=Chatify

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

ARCJET_KEY=your_arcjet_key
ARCJET_ENV=development
